---
import Colored995 from '../components/Colored995.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import ShopItem from '../components/ShopItem.astro';

import Container from '../layouts/Container.astro';
import FlexGrid from '../layouts/FlexGrid.astro';

// Astro doesn't like non-default imports...
import productList from '../data/products.js';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>995 | Shop</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    <!-- Snipcart -->
    <!-- <link rel="preconnect" href="https://app.snipcart.com">
    <link rel="preconnect" href="https://cdn.snipcart.com">
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.css" /> -->
</head>

<body>
    <header>
        <Nav />
    </header>

    <main>
        <div class="px-32 pb-8 bg-gray-dark flex flex-col items-center">
            <hr class="w-full text-gray-lightest" />

            <h1 class="my-8 mx-auto text-2xl font-semibold">Doesn't matter where the decimal is,
                all prices <Colored995 />.
            </h1>

            <p class="text-base">
                For inquiries and product requests, please email
                <a
                    href="mailto:almostanythingfor995@gmail.com"
                    class="underline text-accent"
                >
                    almostanythingfor995@gmail.com
                </a>
            </p>
        </div>

        <Container>
            <FlexGrid>
                {productList.map((product) => (
                    <ShopItem
                        description={product.description}
                        imgUrl={product.imgUrl}
                        itemId={product.itemId}
                        itemUrl={product.itemUrl}
                        name={product.name}
                        price={product.price}
                        salePrice={product.salePrice}
                    />
                ))}
            </FlexGrid>
        </Container>
    </main>

    <Footer />

    <!-- Snipcart -->
    <!-- <script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
    <div hidden id="snipcart" data-api-key="YOUR_PUBLIC_API_KEY"></div> -->
</body>
</html>